modules = ["nodejs-20", "python-3.12"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["geckodriver", "glibcLocales", "nodejs-20_x"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Executar Site"

[[workflows.workflow]]
name = "Executar Site"
author = 43736867
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install -r requirements.txt"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd site && npm install && npm run dev"

[[ports]]
localPort = 3000
externalPort = 80
